In [7]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
from scipy.stats import linregress


washington_weather_df = pd.read_csv("../Group Project 1/WashingtonDataCenter.csv")
washington_weather_df.head(10)

     Date  Max Temp  Avg Temp  Min Temp
0  Jan-17        -2        -8       -16
1  Aug-17        33        26        12
2  Jan-18         4         1        -4
3  Aug-18        30        24        11
4  Jan-19         4         1        -4
5  Aug-19        30        24        10
6  Jan-20         1        -1         7
7  Aug-20        28        23        10
8  Jan-21         2         0        -6
9  Aug-21        33        28        14