In [26]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import scipy.stats as st
from scipy.stats import linregress
from pprint import pprint

In [35]:
weather_data = pd.read_csv("WashingtonDataCenter.csv")
#weather_data["Date"] = pd.to_datetime(weather_data["Date"]).dt.strftime('%Y-%m')
#need to convert the dates to match up:doesnt seem to work on the weather data df 
#weather_data["Date"] = pd.to_datetime(weather_data["Date"]).dt.strftime('%Y-%m')
#weather_data['Date']= pd.to_datetime(weather_data['Date'])

bitcoin = pd.read_csv("BTC-USD.csv")
bitcoin["Date"] = pd.to_datetime(bitcoin["Date"]).dt.strftime('%Y-%m')
bitcoin.drop_duplicates(subset=['Date'], keep='last', inplace=True)

bit_weather_df = pd.merge(weather_data, bitcoin, how="outer", on="Date")
bit_weather_df

,Date,Max Temp,Avg Temp,Min Temp,Open,High,Low,Close,Adj Close,Volume
0,17-1,-2.0,-8.0,-16.0,NaN,NaN,NaN,NaN,NaN,NaN
1,17-8,33.0,26.0,12.0,NaN,NaN,NaN,NaN,NaN,NaN
2,18-1,4.0,1.0,-4.0,NaN,NaN,NaN,NaN,NaN,NaN
3,18-8,30.0,24.0,11.0,NaN,NaN,NaN,NaN,NaN,NaN
4,19-1,4.0,1.0,-4.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
67,2021-06,NaN,NaN,NaN,35908.38672,36074.75781,34086.15234,35040.83594,35040.83594,3.405904e+10
68,2021-07,NaN,NaN,NaN,42196.30469,42231.44922,41110.83203,41626.19531,41626.19531,2.580285e+10
69,2021-08,NaN,NaN,NaN,47024.33984,48189.55078,46750.09375,47166.68750,47166.68750,3.473036e+10
70,2021-09,NaN,NaN,NaN,41551.26953,44092.60156,41444.58203,43790.89453,43790.89453,3.114168e+10
71,2021-10,NaN,NaN,NaN,62215.34375,62215.34375,60918.38672,61348.07813,61348.07813,3.460399e+10