In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import scipy.stats as st
from scipy.stats import linregress
from pprint import pprint

In [4]:
weather_data = pd.read_csv("WashingtonDataCenter.csv")
weather_data['Date'] = weather_data['Date'].dt.strftime('%d-%m%Y')

bitcoin = pd.read_csv("BTC-USD.csv")
bit_weather_df = pd.merge(weather_data, bitcoi, how="inner", on="Date")

      Date  Max Temp  Avg Temp  Min Temp
0   17-Jan        -2        -8       -16
1   17-Aug        33        26        12
2   18-Jan         4         1        -4
3   18-Aug        30        24        11
4   19-Jan         4         1        -4
5   19-Aug        30        24        10
6   20-Jan         1        -1         7
7   20-Aug        28        23        10
8   21-Jan         2         0        -6
9   21-Aug        33        28        14
10  21-Oct        14         9         1